<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include layouts/head %>
  </head>
  <body>
    <header>
      <%- include layouts/nav %>
    </header>
   
    <main>


      <div class="">

        <%- body %>

      </div>
    </main>
    <footer>
     <%- include layouts/footer %>
    </footer>
  </body>
</html>